@font-face {
    font-family: gibson;
    src: url(../public/fonts/Font_Gibson/GibsonRegular.OTF);
  }
@font-face {
    font-family: gibsonBold;
    src: url(../public/fonts/Font_Gibson/GibsonBold.OTF);
  }

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    touch-action: none;
    user-drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.canvas{
    opacity: 0;
    animation: fadeIn 10s forwards;
}

.html3dText{
    text-align: center;
    font-family: gibson;
    color: #808080;
    text-decoration: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.return_button{
    position: absolute;
    z-index: 1500;
    bottom: 0;
}

.logo_wehrle{
    position: absolute;
    z-index: 1500;
    top: 50px;
    right: 100px;
    width: 120px;
    animation: fadeIn 4s forwards;
}

.introLogo {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: #FFF;
    opacity: 0;
    animation: fadeInOut 4s forwards;
  }

.IntroTitle{
    position: absolute;
    z-index: 1500;
    top: 100px;
    left: 100px;
    color: #22a8c0;
    cursor: default;
    animation: fadeIn 4s forwards;
}
.mbrIndustry {
    font-family: gibsonBold;
}

.biomembrat {
    font-family: gibson;
}

.html3dText img, .return_button{
    width: 50px;
   transition: all 0.1s;
}

.html3dText img:hover, .return_button:hover{
    width: 55px;
}

.html3dText img:active, .return_button:active{
    transition: none;
    width: 49px;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }